html {
    scroll-behavior: smooth;
    overflow: visible;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: #222;
}

.welcome {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 5vh;
    font-size: 8vh;
    color: white;
    margin-bottom: 0;
}

.description {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 0.1vh;
    font-size: 3vh;
    color: white;
}

.navbar {
    z-index: 10;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.navbar a {
    font-family: Roboto, sans-serif;
    display: inline-block;
    padding: 1.4vh 1.6vh;
    color: white;
    text-decoration: none;
    font-size: 2vh;
}

.navbar a:hover {
    background-color: #222;
}

.thebars {
    font-size: 0;
    color: white;
}

.mobilenav {
    z-index: 321;
    display: none;
}

.mobilenav a {
    display: none;
}

.fadeinanimate {
    animation: fadein ease 1.5s;
}

.burgerbox {
    display: flex;
    justify-content: center;
}

.theburgerimg {
    width: 40vh;
    height: 40vh;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.underpage {
    height: 100%;
    width: 100%;
    margin-top: 100vh;
    position: absolute;
    z-index: -1;
    background-color: #ff253a;
    margin-bottom: 0.1vh;
}

.welcome-underpage {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 40vh;
    font-size: 8vh;
    color: white;
}

.description-underpage {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 0.1vh;
    font-size: 3vh;
    color: white;
}

.referencelink {
    color: white;
}

.contacttext1 {
    font-family: Roboto, sans-serif;
    text-align: left;
    padding-top: 8vh;
    padding-left: 30vw;
    font-size: 2vh;
    color: white;
}

.contacttext2 {
    font-family: Roboto, sans-serif;
    text-align: left;
    padding-left: 30vw;
    font-size: 2vh;
    color: white;
}

.contacttext3 {
    font-family: Roboto, sans-serif;
    text-align: left;
    padding-top: 3vh;
    padding-left: 30vw;
    font-size: 2vh;
    color: white;
}

.mapcontainer {
    padding-top: 1vh;
    display: flex;
    justify-content: center;
}

.googlemap {
    height: 30vh;
    width: 60vh;
}

@media screen and (max-width: 1024px) {
    .mobilenav:hover {
        left: 0;
        top: 0;
        background-color: #333;
        position: fixed;
        width: 20vh;
        height: 27vh;
        border-right: #222 1px solid;
    }

    .navbar #links {
        display: none;
    }

    .thebars {
        font-size: 4vh;
        padding: 1.4vh 1.6vh;
    }

    .thebars:hover {
        color: #111;
    }

    .thelinks:hover {
        display: block;
    }

    .navbar {
        position: fixed;
        width: 100%;
        height: 6.5vh;
        text-align: unset;
    }

    .navbar a {
        display: block;
        padding: 1.4vh 1.6vh;
        color: white
    }

    .mobilenav a {
        font-family: Roboto, sans-serif;
        display: none;
        padding: 1.4vh 1.6vh;
        color: white;
        text-decoration: none;
        font-size: 2vh;
        margin-top: 1vh;
    }

    .mobilenav:hover a {
        display: block;
    }

    .contacttext1 {
        padding-left: 7vh;
    }

    .contacttext2 {
        padding-left: 7vh;
    }

    .contacttext3 {
        padding-left: 3vh;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}